.store {

    .options {
        display: flex;
        
        &>div {
            display: flex;
            margin: 10px 15px;

            p {
                line-height: 32px;
                
            }
        }
    }
}