.home {
    display: flex;
    position: relative;
    background-color: var(--violet);
    color: #fff;
    width: 100%;
}
.homeContentMain {
    padding: 0 3%;
    width: 100%;
}
.homeHeader {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 15px 0 10px;
    color: #fff;
}
