.table {
    background-color: rgb(47,47,65, 0.7);
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;

    & thead{
        padding: 10px;
        & tr {
            margin: 10px 0;
            th {
                padding: 8px 0;
                
                p {
                    text-align: left;
                    color: var(--orange);
                    padding-right: 15px;
                }
            }
        }
    }
    & tbody {
        td {
            padding: 5px 0;
            
            p {
                text-align: left;
                padding: 0 10px 10px 0;
                border-bottom: 1px solid rgb(97, 96, 96);
                letter-spacing: 0.015em;

                a {
                    text-decoration: none;
                    color: var(--orange);
                }
            }
        }    
    }

    & th:first-child, td:first-child {
        padding-left: 10px;
        text-align: center;
    }
}