
.managerContract {
    .blockTabs {
        display: flex;
        margin: 10px 0;

        button {
            width: 205px;
            border-radius: 15px;
            border: 1px solid var(--orange);
            color: var(--white);
            background-color: var(--violet);
            height: 34px;
            cursor: pointer;
        }
        .active {
            background-color: var(--orange);
            z-index: 99;
        }
        
        & button:nth-child(2) {
            margin-left: -22px;
        }
        
    }
    .contentTabs {

        .dropdownAndSearch {
            display: flex;
            justify-content: space-between;
            width: 93%;
    
            &>div {
                display: flex;
                
                &>div {
                    margin-right: 25px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .content {
        display: none;
    }
    .activeContent {
        display: block;
    }
}

.managerDevice {
    & .dropdownAndSearch {
        display: flex;
        justify-content: space-between;
        width: 93%;
        & div:first-child {
            display: flex;
            align-items: center;

        }
    }
    table {
        & tbody {
           & td {
               border-bottom: 1px solid rgb(97, 96, 96);
            &>span {
                padding: 0 10px 10px 0;
            }
           }
        }
    }
}